
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, 0.918);
  color: aliceblue;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-family: monospace;
}

h4{
 font-family: monospace;
 font-size: 25px;
}

h6{
  font-size: 20px;
}

.perfil-img {
  border-radius: 50%;
}

#div-about-me {
  display: inline-block;
  font-size: 20px;
  text-align: justify;
  top: 400px;
}

#div-perfil {
  text-align: center;
  margin-top: 50px;
}

.nav-bar {
  align-items: center;
  text-align: center;
}

.nav-button {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 10px;
}

#trybe-a {
    text-decoration: none;
    color: green;
}

#zap{
  color: green;
  text-decoration: none;
}