
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, 0.918);
  color: aliceblue;
}

h1 {
  font-size: 30px;
  position: absolute;
  left: 800px;
  top: 50px;
  align-items: center;
  text-align: center;
  font-family: monospace;
}

h4{
 font-family: monospace;
 font-size: 25px;
}

h6{
  font-size: 20px;
}

.perfil-img {
  border-radius: 50%;
  position: absolute;
  top: 120px;
}

#div-about-me {
  font-size: 20px;
  position: absolute;
  left: 400px;
  text-align: justify;
  bottom: 430px;
  top: 100px;
  height: 565px;
  overflow: auto;
  z-index: 1;
}

#div-perfil {
  text-align: center;
  margin-top: 50px;
}

.nav-bar {
  align-items: center;
  text-align: center;
  position: absolute;
  left: 900px;
}

.nav-button {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 10px;
}

#trybe-a {
    text-decoration: none;
    color: green;
}

#zap{
  color: green;
  text-decoration: none;
}

.habilidades {
  position: absolute;
  top: 650px;
  left: 400px;
  z-index: 2;
}